<div class="big_wrapper">
  <div class="wrapper" id="one">
    <div class="point_copy right">
      <h3>
			All software will be published under an open source license
      </h3>
      <p>
	      The mission of this project is to provide a Linux desktop to anyone who wants it by providing turnkey toolkits to deploy ready to run Linux operating systems.
      <p>
    </div>
  </div>
</div>