<div class="big_wrapper">
  <div class="wrapper" id="one">
    <div class="point_copy">
      <h3>
        Works on any PC that can boot from USB 2.0
      </h3>
      <p>
	      Instead of downloading installation media, customers receive a ready to run Linux desktop preloaded on a bootable micro USB system drive.
      <p>
    </div>
  </div>
</div>
