<div class="gray_background">
  <ul class="wrapper clearfix" id="other_points">
    <li id="section-1">
      <h4>1. Choose your OS</h4>
      <p>Currently Ubuntu and its derivatives. Please <a href="mailto:contact@osgenie.com?Subject=Hello%20OSgenie">contact us</a> if you're interested in other distributions.</p>
    </li>
    <li id="section-2">
      <h4>2. Identify your PC model number</h4>
      <p>If model number is unknown, a hardware scan on your PC can be run.</p>
    </li>
    <li id="section-3">
      <h4>3. All system files are installed on a micro flash drive.</h4>
      <p>Which is then shipped First Class.</p>
    </li>
    <li id="section-4">
      <h4>4. Configure your PC to boot from USB.</h4>
      <p>Easily set in the PC BIOS.</p>
    </li>
  </ul>
</div>
