<div class="sidebar">
  <h5>When will I be charged?</h5>
  <p>
        For the jumpstart: you will be charged the full amount when you receive access to the cloud hosted desktop environments.
        </p>
		  <p>  
  </p>
    <h5>Included with purchase:</h5>
	    	<p>Login access to cloud hosted desktops</p>
	    	<p>A nano USB preloaded with your choice of OS</p>
	    	<p>A "Powered by" your OS sticker.</p>
</div>